@model IEnumerable<inProject.ViewModels.CompanyVM.CompanyVM>


@{
    ViewData["Title"] = "Companies";
}


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCompany">
    Add new Company
</button>


<div class="container-fluid px-4 py-4">
    <div class="card shadow-lg">
@*        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h4 class="card-title">List of Companies</h4>
                </div>
                <div class="col-6 float-end">
                    <a asp-action="Create" class="btn btn-dark float-end"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>*@
        <div class="card-body">
            <table class="table align-middle mb-0 bg-dark" id="companyTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => company.Id)</td>
                            <td>@Html.DisplayFor(modelItem => company.CompanyName)</td>
                            <td>
                                @*<button type="button" class="btn btn-link btn-sm btn-rounded">
                                    Edit
                                </button>*@
                                <a asp-action="Edit" asp-route-id="@company.Id" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form asp-action="Delete" asp-route-id="@company.Id" class="d-inline">
                                    <button class="btn btn-sm btn-danger deleteBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                <a asp-action="Details" asp-route-id="@company.Id" class="btn btn-sm btn-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Details">
                                    <i class="fas fa-address-card"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@await Html.PartialAsync("_AddCompanyPartialView", new CompanyVM())

